#logo {
    text-align: center;
    margin: 24px auto;
    font-size: 200px;
    height: 300px;
    position: relative;
    text-align: center;

}

ion-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#searchBox{
    margin: 10px;
}

img.logoBack{
    object-fit: cover;
    height: 300px;
    width: fit-content;
    opacity: 0.5;
}

.icon{
    text-align: center;
    margin: 24px auto;
    height: 80px;
    object-fit: contain;
    display: inline-block;
    padding: .25rem;
}
