<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pic Bin
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div id="logo">
    <img class="logoBack" src={{img}}/>
    <ion-icon name="trash-bin-outline" class="ion-text-center"></ion-icon>
  </div>
  <div id="searchBox">
    <ion-searchbar #searchQuery autocomplete="photo"></ion-searchbar>
    <ion-button  color="success" expand="block" fill="solid" (click)="search(searchQuery.value)">Begin Gathering</ion-button>
  </div>


  <ion-grid>
    <ion-row>
      <ion-col >
        <div >
          <a href="https://unsplash.com/"><img style="width: auto;" class="icon" src="assets/unsplash_logo.jpg"></a>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <a href="https://www.pexels.com/"><img  style="width: auto; opacity: 0.5;" class="icon" src="assets/pixabay_logo.png"></a>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <a href="https://pixabay.com/sk/"><img  style="width: auto; opacity: 0.5;" class="icon" src="assets/pexels_logo.png"></a>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
