<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-float-left">
      Library
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Library</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button expand="block" class="ion-float-left" *ngIf="!isLoading" (click)="downloadZip()" style="margin:5px 5%;">Download All</ion-button>
  <ion-button color="warning" (click)="clearList()" style="margin:5px 5%;">Clear List</ion-button>
  <div class="container">
    <ion-grid>

      <ion-row *ngFor="let obj of libObjs">
        <ion-col  sizeXs="9"  >
            <img id="picture" src="{{ obj.urls.small }}"/>
        </ion-col>
        <ion-col sizeXs="3">
          <ion-button class="ion-float-left" color="secondary" href="{{ obj.links.download }}" download><ion-icon name="arrow-down-circle"></ion-icon></ion-button>
          <ion-button class="ion-float-left" color="danger" (click)="remove(obj.id)"><ion-icon name="trash"></ion-icon></ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
    </div>

  
</ion-content>
